#Andres{
  color: rgb(229, 255, 0);
}

h1{
  color: white !important;
  background-color: rgb(194, 194, 170) !important;
}

h2{
  color: white;
  background-color: blue;
}


h3{
  color: white;
  background-color: rgb(0, 255, 64);
}

p{
  color:  white;
  background-color: green;
}

b{
	color:  black;
	background-color: white;
}

h1{
  color: blue;
  background-color: white;
}

